
<!DOCTYPE html>
<html lang="ko">
    {% extends 'main.html' %}
    
    {% block content %}

    <script>
        function go_to_artist_add(){
            location.href = "{% url 'dataprocess:artist_add' %}";
        }
    </script>

   <div class="forms">
    <div class="contents">
        <table class="resizeable">
            <thead>
                <tr class="resizeable">
                    <th class="resizeable">
                        <div class="resiazable_column">
                            <div class="button_layout">
                             <button onclick=go_to_artist_add()>추가</button>
                             <button id="save-artists">저장</button>
                            </div>
                             <table id="artist-table">
                                 <thead id="artist-header">
                                     <tr>
                                         <td class="hidden">id</td>
                                         <td>아티스트 이름</td>
                                         <td>구분</td>
                                         <td>성별</td>
                                         <td>맴버 수</td>
                                         <td>국적</td>
                                         <td>기획사</td>
                                         <td>데뷔</td>
                                         <td>사용</td>
                                     </tr>
                                 </thead>
                                 <tbody id="artist-body">
                                     {% if artists %}
                                     {% for artist in artists %}
                                     <tr>
                                         <td class="hidden"><input type="text" value={{artist.id}}></input></td>
                                         <td><input type="button" name="artist-name" title="{{artist.name}}" style="width:120px" value="{{artist.name}}"></input></td>
                                         <td><input type="text" style="width:100%" title={{artist.level}} value={{artist.level}}></input></td>
                                         <td><input type="text" style="width:100%" title={{artist.gender}} value={{artist.gender}}></input></td>
                                         <td><input type="text" style="width:100%" title={{artist.member_num}} value={{artist.member_num}}></input></td>
                                         <td><input type="text" style="width:100%" title="{{artist.member_nationality}}" value={{artist.member_nationality}}></input></td>
                                         <td><input type="text" style="width:100%" title="{{artist.agency}}" value={{artist.agency}}></input></td>
                                         <td><input type="text" style="width:100%" title="{{artist.debut_date|date:"Y-m-d"}}" value={{artist.debut_date|date:"Y-m-d"}}></input></td>
                                         {% if artist.active %}
                                             <td><input checked type="checkbox"></input></td>
                                         {% else %}
                                             <td><input type="checkbox"></input></td>
                                         {% endif %}
                                     </tr>
                                     {% endfor %}
                                     {% else %}
                                     {% endif %}
                                 </tbody>
                             </table>
                         </div>
                    </th>

                    <th class="resizeable">
                        <div class="resiazable_column">
                            <div class="button_layout">
                                <button id="save-artists-platform">저장</button>
                            </div>
                            <span class="artist-title" id="artist-subtitle"></span>
                            <table id="artist-table">
                                <thead id="artist-header">
                                    <tr>
                                        <td class="hidden">artist_id</td>
                                        <td class="hidden">platform_id</td>
                                        <td class="hidden">id</td>
                                        <td>플랫폼</td>
                                        <td>URL 1</td>
                                        <td>URL 2</td>
                                    </tr>
                                </thead>
                                <tbody id="artist-body-platform"></tbody>
                            </table>
                        </div>
                    </th>

                    <th class="resizeable">
                        <div class="resiazable_column">
                            <div class="button_layout">
                                <button id="save-list">저장</button>
                            </div>
                            <span class="artist-title" id="platform-subtitle"></span>
                            <table id="artist-table">
                                <thead id="artist-header">
                                    <tr>
                                        <td class="hidden">id</td>
                                        <td>조사항목</td>
                                        <td>내용</td>
                                        <td>xpath</td>
                                        <td>삭제</td>
                                    </tr>
                                </thead>
                                <tbody id="artist-body-list">

                                </tbody>
                            </table>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>

     </div>
   </div>
    

    {% endblock content %}
</html>
























