
<!DOCTYPE html>
<html lang="ko">
    {% extends 'main.html' %}
    
    {% block content %}
   <div class="forms">
    <div class="contents">
        <div id="first-table">
            <table id="artist-table">
                <thead id="artist-header">
                    <tr>
                        <td class="hidden">id</td>
                        <td>아티스트 이름</td>
                        <td>구분</td>
                        <td>성별</td>
                        <td>맴버 수</td>
                        <td>국적</td>
                        <td>기획사</td>
                        <td>데뷔</td>
                        <td>사용</td>
                    </tr>
                </thead>
                <tbody id="artist-body"></tbody>
            </table>
        </div>
        <div id="second-table">
            <table id="artist-table">
                <thead id="artist-header">
                    <tr>
                        <td class="hidden">id</td>
                        <td>플랫폼</td>
                        <td>URL 1</td>
                        <td>URL 2</td>
                    </tr>
                </thead>
                <tbody id="artist-body"></tbody>
            </table>
        </div>
        <div id="second-table">
            <table id="artist-table">
                <thead id="artist-header">
                    <tr>
                        <td class="hidden">id</td>
                        <td>항목 1</td>
                        <td>항목 2</td>
                        <td>항목 3</td>
                        <td>스케쥴</td>
                    </tr>
                </thead>
                <tbody id="artist-body"></tbody>
            </table>
        </div>
    </div>
   </div>
    

    {% endblock content %}
</html>
























