<!DOCTYPE html>
<html lang="ko">
   {% extends "main.html" %}

   {% block content %}

   <script>
      function go_to_crawler(){
         location.href = "{% url 'crawler:home' %}";
      }
      function go_to_dataprocess(){
         location.href = "{% url 'dataprocess:daily' %}";
      }
   </script>
   <div style="height: 100vh;" class="forms">
      <div class="column_layout">
         <img class="logo-img" alt="logo" style="width:35%;"
         src="https://user-images.githubusercontent.com/56909923/153350345-77cea899-06aa-4dc1-aafa-ecd0de53ac30.png" />
         <div class="row_layout">
            <button class="btn btn-primary border-0" style="padding:10px; margin-right: 50px; font-size: 1.1em;
            font-weight: bold;"
            onclick= go_to_crawler()>
                  CRAWLER
            </button>
         
            <button class="btn btn-primary border-0" style="padding:10px; font-size: 1.1em; font-weight: bold;"
            onclick= go_to_dataprocess()>
                  DATAPROCESS
            </button>
         </div>
      </div>
   </div>


   {% endblock content %}
</html>