<!DOCTYPE html>
<html lang="ko">
   {% extends "main.html" %}

   {% block content %}

   <script>
      function go_to_crawler(){
         location.href = "{% url 'crawler:home' %}";
      }
      function go_to_dataprocess(){
         location.href = "{% url 'dataprocess:daily' %}";
      }
   </script>
   <div style="height: 100vh;" class="forms">
      <div class="column_layout">
         <img class="logo-img" alt="logo" style="width:35%;"
         src="https://user-images.githubusercontent.com/56909923/153350345-77cea899-06aa-4dc1-aafa-ecd0de53ac30.png" />
      </div>
      <div class="row_layout">
         <span style="font-size: 16px; font-weight: bold;">플랫폼 데이터 자동화 시스템</span>
      </div>
   </div>
   {% endblock content %}
</html>