<!DOCTYPE html>
<html lang="ko">

   {% extends 'main.html' %}

   {% block content %}

   <!--{% if alert %}
    <span id="alert">{{alert}}</span>
   {% endif %}-->

   <div class="excel_form" id="excel_form1">
        <div class="popup_button_layout">
            <span>Excel파일로부터 크롤링데이터 DB에 저장하기</span>
            <button id="close_button1">닫기</button>
        </div>
        <div style="height: 25px;"></div>
         <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="importData">
            <input type="text" name="type" value="import" style="display:none;">
            <button class="excel-btn black-btn2" id="excel-btn1" type="submit">Import</button>
        </form>
        <div class="progress-bar">
            <div class="progress-bar__bar" id="progress-bar__bar1"></div>
        </div>
   </div>

   <div class="excel_form" id="excel_form2">
        <div class="popup_button_layout">
            <span>Excel파일로 크롤링데이터 추출(다운로드 경로)</span>
            <button id="close_button2">닫기</button>
        </div>
        <div style="height: 25px;"></div>
        <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="type" value="export" style="display:none;">
            <button class="excel-btn black-btn2" id="excel-btn2" type="submit">Export</button>
        </form>
        <div class="progress-bar">
            <div class="progress-bar__bar" id="progress-bar__bar2"></div>
        </div>
    </div>

    <div class="excel_form" id="excel_form3">
        <div class="popup_button_layout">
            <span>Excel파일로부터 수집정보 DB에 저장하기</span>
            <button id="close_button3">닫기</button>
        </div>
        <div style="height: 25px;"></div>
        <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="importData2">
            <input type="text" name="type" value="import2" style="display:none;">
            <button class="excel-btn black-btn2" id="excel-btn3" type="submit">Import</button>
        </form>
        <div class="progress-bar">
            <div class="progress-bar__bar" id="progress-bar__bar3"></div>
        </div>
   </div>
  

   <div class="forms">
    <div class="column_layout flexend_layout">
        <span style="font-size: 1.3rem; font-weight:bold;">크롤링데이터 관련</span>
        <div class="row_layout">
            <span class="excel-form-open-hint" id="excel-form-open-hint1">Excel파일로부터 크롤링데이터 DB에 저장하기</span>
            <button class="excel-btn excel-form-open" id="excel-form-open1">Excel파일 Import</button>
        </div>

        <div class="row_layout">
            <span class="excel-form-open-hint" id="excel-form-open-hint2">Excel파일로 크롤링데이터 추출(다운로드 경로)</span>
            <button class="excel-btn excel-form-open" id="excel-form-open2">Excel파일 Export</button>
        </div>

        <span style="font-size: 1.3rem; font-weight:bold;">수집정보 관련</span>
        <div class="row_layout">
            <span class="excel-form-open-hint" id="excel-form-open-hint3">Excel파일로부터 수집정보 DB에 저장하기</span>
            <button class="excel-btn excel-form-open" id="excel-form-open3">Excel파일 Import</button>
        </div>
        
        
        
        
    </div>
       
    <form method="get">
        <div class="select-days">
            <div class="select-days-day">
                <label>조회 일자</label>
                <input type="radio" name="view_days" value="누적" /> <label>누적</label>
                <input type="radio" name="view_days" value="기간별" /> <label>기간별</label>
            </div>
            <div class="select-days-date">
                <input type="date" name="start_date" /> ~ <input type="date" name="end_date" /> <input type="button" name="refresh" style="border: 1px solid black; margin: 3px; border-radius: 4px;" value="날짜 초기화"></input>
                <input type="button" name="day" style="border: 1px solid black; margin: 3px; border-radius: 4px;" value="1일"></input>
                <input type="button" name="week" style="border: 1px solid black; margin: 3px; border-radius: 4px;" value="1주"></input>
                <input type="button" name="month" style="border: 1px solid black; margin: 3px; border-radius: 4px;" value="1개월"></input>
            </div>
        </div>
        <div class="contents">
            <div class="contents-platforms">
                <label>플랫폼</label>
                <!--DB 데이터로 변경 필요-->
                {% if platforms %}
                {% for platform in platforms %}
                <option class="platform-name" name="{{platform.name}}" value="{{platform.name}}">{{platform.name}}</option>
                {% endfor %}
                {%else%}
                <div>플랫폼이 없습니다.</div>
                {% endif %}
            </div>
            <hr>
            <div id="result-table">
                <label id="platform-title" style="margin-bottom: 5px; font-weight: bold;"></label>
                <table id="table">
                    <tbody id="board">
                    </tbody>
                </table>
                <div class="button_layout">
                    <label id="update-data" style="display: none; margin: 10px">
                        저장
                    </label>
                </div>
            </div>
        </div>
        </form>
   </div>
    

   {% endblock content %}

</html>
