<!DOCTYPE html>
<html lang="ko">

   {% extends 'main.html' %}

   {% block content %}

   {% if alert %}
    <span id="alert" class="hidden">{{alert}}</span>
   {% endif %}

   <div class="excel_form" id="excel_form1">
        <div class="popup_button_layout">
            <span>크롤링데이터 - 엑셀 업로드</span>
            <button class="btn btn-primary border-0 shadow-btn" id="close_button1" style="font-size: 10px !important; font-weight: bold;">닫기</button>
        </div>
        <div style="height: 25px;"></div>
         <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data" class="column_layout">
            {% csrf_token %}
             <div class="row_layout" style="justify-content: flex-start;">
                <span style="margin-right: 30px; font-weight: bold;">저장 날짜: </span>
                <input type="date" name="excel_import_date" id="excel_import_date"/>
             </div>
             <div style="height: 10px;"></div>
            <input class="form-control" type="file" name="importData">
            <input type="text" name="type" value="import" style="display:none;">
            <div style="height: 10px;"></div>
            <button class="btn btn-primary border-0 shadow-btn" id="excel-btn1" type="submit" style="font-size: 10px !important; font-weight: bold; width: 100px;">Import</button>
        </form>
        <div style="height: 10px;"></div>
        <div class="loading-box hidden" id="excel_loading1">
            <div class="loader"></div>
        </div>
   </div>

   <div class="excel_form" id="excel_form2">
        <div class="popup_button_layout">
            <span>크롤링데이터 - 엑셀 다운로드</span>
            <button class="btn btn-primary border-0 shadow-btn" id="close_button2" style="font-size: 10px !important; font-weight: bold;">닫기</button>
        </div>
        <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data" id="data_excel_download_form">
            {% csrf_token %}
            <div style="height: 15px;"></div>
            <div class="row_layout" style="text-align: center; ">
                <label style="margin-right: 20px; font-weight: bold;margin-top: 5px;">조회 일자: </label>
                <input class="form-check-input" type="radio" name="excel_export_days" value="누적" id="excel_export_days1" checked/> <label style="margin-left: 5px; margin-right: 10px;margin-top: 5px;">누적</label>
                <input class="form-check-input" type="radio" name="excel_export_days" value="기간별" id="excel_export_days2" /> <label style="margin-left: 5px;margin-top: 5px;">기간별</label>
            </div>
            <div style="height: 10px;"></div>
            <div class="row_layout">
                <input type="date" name="excel_export_start_date" id="excel_export_start_date"/>
                <span id="excel_export_date_text">~</span>
                <input type="date" name="excel_export_end_date" id="excel_export_end_date" />
            </div>
            <div style="height: 25px;"></div>
            <input type="text" name="type" value="export" style="display:none;">
            <button class="btn btn-primary border-0 shadow-btn" id="excel-btn2" type="submit" style="font-size: 10px !important; font-weight: bold; width: 100px;">Export</button>
        </form>
        <span style="font-weight: bold; display:none; margin-top: 30px; margin-bottom: 20px;" id="data_excel_download_span">다운로드가 시작되었습니다. 시간이 소요됩니다.</span>
        <div style="height: 10px;"></div>
    </div>

    <div class="excel_form" id="excel_form3">
        <div class="popup_button_layout">
            <span>수집 정보 - 엑셀 업로드</span>
            <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="filename" value="collect_form" style="display:none;">
                    <input type="text" name="type" value="export_form" style="display:none;">
                    <button class="input-btn" 
                        type="submit" style="font-size: 10px !important;">양식 다운로드</button>
                </form>
                <button class="btn btn-primary border-0 shadow-btn" id="close_button3" style="font-size: 10px !important; font-weight: bold; margin-left: 10px;">닫기</button>
            </div>
        
        </div>
        <div style="height: 25px;"></div>
        <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type="file" name="importData">
            <input type="text" name="type" value="import2" style="display:none;">
            <button class="btn btn-primary border-0 shadow-btn" id="excel-btn3" 
            type="submit" style="font-size: 10px !important; font-weight: bold; width: 100px; margin-top: 8px;">Import</button>
        </form>
        <div style="height: 10px;"></div>
        <div class="loading-box hidden" id="excel_loading3">
            <div class="loader"></div>
        </div>
   </div>

   <div class="excel_form" id="excel_form4">
    <div class="popup_button_layout">
        <span>로그인 정보 - 엑셀 업로드</span>
        <div style="display: flex; flex-direction: row; justify-content: flex-end;">
            <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="filename" value="login_form" style="display:none;">
                <input type="text" name="type" value="export_form" style="display:none;">
                <button class="input-btn" 
                type="submit" style="font-size: 10px !important;">양식 다운로드</button>
            </form>
            <button class="btn btn-primary border-0 shadow-btn" id="close_button4" style="font-size: 10px !important; font-weight: bold; margin-left: 10px;">닫기</button>
        </div>
        
    </div>
    <div style="height: 25px;"></div>
    <form method="post" action="{%url 'dataprocess:daily' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control" type="file" name="importData">
        <input type="text" name="type" value="import3" style="display:none;">
        <button class="btn btn-primary border-0 shadow-btn" id="excel-btn4" 
        type="submit" style="font-size: 10px !important; font-weight: bold; width: 100px; margin-top: 8px;">Import</button>
    </form>
    <div style="height: 10px;"></div>
    <div class="loading-box hidden" id="excel_loading4">
        <div class="loader"></div>
    </div>
</div>
  

   <div class="forms modal-open">
    <div>
        <div style= "display: table; width: 100%;">
            <div class="select-days card border-0 shadow"
             style="white-space: nowrap; display: table-cell;">
                <div class="select-days-day">
                    <label style="font-weight: bold;">조회 일자</label>
                    <input class="form-check-input" type="radio" name="view_days" value="누적" checked/> <label>누적</label>
                    <input class="form-check-input" type="radio" name="view_days" value="기간별" /> <label>기간별</label>
                </div>
                <div class="select-days-date">
                    <input type="date" name="start_date" id="start_date"/> ~ <input type="date" name="end_date" id="end_date" /> <input class="btn btn-gray-200" type="button" name="refresh" style="margin: 3px;" value="날짜 초기화"></input>
                    <input class="btn btn-gray-200" type="button" name="day" style="margin: 3px;" value="1일"></input>
                    <input class="btn btn-gray-200" type="button" name="week" style="margin: 3px;" value="1주"></input>
                    <input class="btn btn-gray-200" type="button" name="month" style="margin: 3px;" value="1개월"></input>
                </div>
            </div>

            <div style="width: 4px;"></div>

            <div style="display: flex; flex-direction: row; width: 50%; display: table-cell; vertical-align: middle;
                justify-content: center !important;" class="row_layout flexmiddle_layout card border-0 shadow">
                <button style="margin: 5px 7px 5px 7px;" class="input-btn" id="excel-form-open2">리포트 다운로드</button>
                <button style="margin: 5px 7px 5px 7px;" class="input-btn" class="excel-form-open" id="excel-form-open1">리포트 업로드</button>
                <button style="margin: 5px 7px 5px 7px;" class="input-btn" id="excel-form-open3">수집정보 업로드</button>
                <button style="margin: 5px 7px 5px 7px;" class="input-btn" class="excel-btn excel-form-open" id="excel-form-open4">로그인 업로드</button>
            </div>

        </div>
        <div class="contents">
            <div class="contents-platforms">
                <label style="margin-bottom: 5px; font-weight: bold; font-size: 14px;">플랫폼</label>
                {% if platforms %}
                {% for platform in platforms %}
                <option class="platform-name" name="{{platform.name}}" value="{{platform.name}}">{{platform.name}}</option>
                {% endfor %}
                {% else %}
                <div>플랫폼이 없습니다.</div>
                {% endif %}
            </div>
            <hr>
            <div id="result-table" class="card-body">
                {% include 'dataprocess/update_confirm.html' %}
                <label id="platform-title" style="margin-bottom: 5px; font-weight: bold; font-size: 14px;"></label>
                <div class="button_layout">
                    <label class="btn btn-primary btn-shadow border-0" id="update-data" style="font-size: 12px !important; display: none; margin: 10px; font-weight: bold;" title="수정한 데이터를 저장하려면 클릭하세요.">
                        저장
                    </label>
                </div>
                <table id="table" class="table table-centered table-nowrap mb-0 rounded">
                    <thead id="data-report-headers" class="thead-dark" style="font-weight: bold;"> 

                    </thead>
                    <tbody id="board">
                        <div id="overlay">
                            <div class="cv-spinner">
                              <span class="spinner"></span>
                            </div>
                          </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
   </div>
    

   {% endblock content %}

</html>
