<header class="header">
   {% if first_depth and second_depth %}
   <div class="header-element">
        <span class="first-depth">홈</span>
        <span class="middle-1"><i class="fas fa-chevron-right"></i></span></span>
        <span class="second-depth">{{ first_depth }}</span>
        <span class="middle-2"><i class="fas fa-chevron-right"></i></span></span>
        <span class="third-depth">{{ second_depth }}</span>
    </div>
   {% elif first_depth and not second_depth %}
    <div class="header-element">
        <span class="first-depth">홈</span>
        <span class="middle-1"><i class="fas fa-chevron-right"></i></span></span>
        <span class="second-depth">{{ first_depth }}</span>
        <span class="middle-2"></span></span>
        <span class="third-depth"></span>
    </div>
   {% else %}
   <div class="header-element">
        <span class="first-depth">홈</span>
        <span class="middle-1"></span>
        <span class="second-depth"></span>
        <span class="middle-2"></span>
        <span class="third-depth"></span>
    </div>
   {% endif %}

   <script>
        function go_to_logout(){
            location.href = "{% url 'account:user_logout_api' %}";
        }
        function go_to_login(){
            location.href = "{% url 'account:user_simple_login_api' %}";
        }
   </script>

   {% if user.is_authenticated %}
   <button class="logout-btn" id="logout-btn" onclick=go_to_logout()>
        로그아웃
    </button>
    {% else %}
    <button class="login-btn" id="login-btn" onclick=go_to_login()>
        로그인
    </button>
    {% endif %}
</header>