<nav class="sidebar">
    <img class="logo-img" alt="logo" src="https://news.imaeil.com/photos/2019/06/13/2019061316005257069_l.jpg" />
    <ul class="sidebar-items">
        <li><h4 class="sidebar-item data-report">데이터리포트</h4></li>
        <div class="sidebar-item-in in-data-report">
            <a href="{% url 'config:daily' %}" class="sidebar-description">일별 리포트</a>
            <a class="sidebar-description">시간별 리포트</a>
        </div>
        <li><h4 class="sidebar-item platforms-m">플랫폼 관리</h4></li>
        <div class="sidebar-item-in in-platforms">
            <a class="sidebar-description">플랫폼 관리</a>
        </div>
        <li><h4 class="sidebar-item artists-m">아티스트 관리</h4></li>
        <div class="sidebar-item-in in-artists">
            <a class="sidebar-description">데이터 URL 관리</a>
        </div>
    </ul>
    <button class="sidebar-btn"><span><i class="fas fa-chevron-left"></i></span></button>
</nav>