#first-table{
    justify-content: center;
    text-align: center;
    height: 650px;
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
}

#second-table{
    justify-content: center;
    text-align: center;
    height: 650px;
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
}


#artist-header{
    color: white;
    background-color: black !important;
}

#artist-header td{
    color: white;
    background-color: black !important;
    text-align: center;
    font-weight: bold;
}
