*{
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}

body{
    position: relative;
}

button{
    outline: none;
    border: none;
}



li{
    list-style: none;
}

.a_in_btn{
    color: white;
}

label{
    font-size: 1.2rem;
    font-weight: normal;
}

input{
    font-size: 1.2rem;
    font-weight: normal;
}

/* header */
.header{
    position: absolute;
    left:250px;
    width: 85%;
    display: flex;
    height: 2.5rem;
    padding: 5px 10px;
    margin: 10px;
    color: black;
    justify-content: space-between;
    border: 1px solid #1F2937;
    border-radius: 20px;
}

.header-element{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    margin-right: 1em;
}


.menu{
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.menu-link{
    text-decoration: none;
    color:white;
    transition: transform 250ms ease-in;
    font-size: 1.5rem;
    margin-left: 1em;
}

.menu-link:hover{
    color:lightgray;
    transform: scaleX(1.1);
    cursor: pointer;
}

.logout-btn, .login-btn{
    background-color: lightgray;
    color: black;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 10px;
    line-height: 0.3rem;
    text-align: center;
}

.first-depth, .second-depth, .third-depth{
    font-size: 1rem;
    font-weight: normal;
}


/* sidebar */
.sidebar{
    position: fixed;
    left:0;
    top: 0;
    bottom:0;
    background:whitesmoke;
    width:250px;
    height: 100%;
}

.logo-img{
    width: 250px;
    height: auto;
    justify-content: center;
    margin: auto;
}

.sidebar-btn{
    position: absolute;
    left: 220px;
    top:300px;
    padding: 15px 5px;
    border-radius: 2px;
}


.hide{
    display:none;
}

.show{
    display: flex;
}


.forms{
    position: absolute;
    width: 80%;
    left : 300px;
    margin-top: 60px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.button_forms{
    position: absolute;
    width: 80%;
    left : 300px;
    margin-top: 60px;
    font-size: 1.2rem;
    z-index: 100;
}

.select-days{
    margin-left: 18px;
}

.select-days-day{
    margin-bottom: 5px;
    margin-top: 10px;
}

.contents{
    margin-top: 20px ;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.contents-platforms{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 15%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding : 20px;
}

.platform-name{
    margin: 10px;
    flex-basis: 18%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1rem;
}

.platform-name:hover{
    background-color: lightgray;
}

.platform-selected{
    background-color: lightgray;
}

.background{
    background-color: lightgray;
}

.button_layout > label{
    width: 100px;
    border: 1px solid black !important;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
}

.button_layout > label:hover{
    top: -2px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px grey;
}

/*no use from*/
.select-other{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.platform, .target, .search{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
/* to */


#result-table{
    justify-content: center;
    text-align: center;
    height: 585px;
    overflow-y: scroll;
    width: 85%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
}

#table{
   margin: auto;
}

.result-header{
    color: black;
    background-color: white;
    border: 1px solid lightslategray;
    text-align: center;
}

#board th{
    font-weight: bold !important;
}